{% extends 'base.html' %}

{% block content %}
<h1>{{ object.name }}</h1>

{% if object.image %}
    <img src="{{ object.image.url }}" alt="{{ object.name }}">
{% endif %}

<p>{{ object.description }}</p>
<p>Цена: {{ object.price }}</p>

<a href="{% url 'catalog:products' %}">Назад</a>
{% endblock %}

{% if user == product.owner %}
    <a href="{% url 'catalog:product_update' product.pk %}">Редактировать</a>
{% endif %}

{% if user == product.owner or perms.catalog.delete_product %}
    <a href="{% url 'catalog:product_delete' product.pk %}">Удалить</a>
{% endif %}

{% if perms.catalog.can_unpublish_product %}
    <a href="{% url 'catalog:unpublish_product' product.pk %}">Снять с публикации</a>
{% endif %}